<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mission to Mars</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
  <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=hDiN19jhSnDfwwMvzUWWtBG2ajKQPDMqQ4f1B3Ay49_xlB5QXGvr845yZ-DpkVGXNz8MBlZ-yUBF-2peyY2Ft10ZdWpTEpyOkSdmMCYNzafiNOB_JL0I1aeWKCfCZilP4kEawHrnXoMt30BjyaOsYg" charset="UTF-8"></script><link rel="stylesheet" crossorigin="anonymous" href="https://gc.kis.v2.scr.kaspersky-labs.com/E3E8934C-235A-4B0E-825A-35A08381A191/abn/main.css?attr=aHR0cHM6Ly8ydS1kYXRhLWN1cnJpY3VsdW0tdGVhbS5zMy5hbWF6b25hd3MuY29tL2RhdGF2aXotb25saW5lL21vZHVsZV8xMC9pbmRleC5odG1s"/></head>
  <body style="background-color:#000000">
    <div class="container-fluid" >
      <!-- Add Jumbotron to Header -->
      <div class="jumbotron text-center" style="background-color:#000000;color:#f41818">
        <h1 style="font-family:georgia">Mission to Mars</h1>
        <!-- Add a button to activate scraping script -->
        <p><a 
          class="btn btn-danger btn-lg" 
          href="/scrape" 
          role="button"
          >Scrape New Data</a></p>
      </div>

      <!-- Add section for Mars News -->
      <div class="row" id="mars-news">
        <div class="col-md-12">
          <div class="media">
            <div class="media-body">
              <h2 
              style="font-family:georgia;color:#f41818">Latest Mars News</h2>
              <h4 class="media-heading"
              style="font-family:georgia;color:#FFFFFF">{{ mars.news_title }}</h4>
              <p style="font-family:georgia;color:#FFFFFF">{{ mars.news_paragraph }}</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Section for Featured Image and Facts table -->
      <div class="row" id="mars-featured-image">
        <div class="col-md-7">
          <h2 
          class="text-center"
          style="font-family:georgia;color:#f41818">Featured Mars Image</h2>

          <!-- if images is False/None/non-existent, then default to error message -->
          <img
            src="{{mars.featured_image | default('static/images/error.png', true) }}"
            class="img-responsive"
            alt="Responsive image"
          />
        </div>

        <div class="col-md-5">
          <!-- Mars Facts -->
          <div class="row" id="mars-facts" style="background-color:#000000;font-family:arial;color:#FFFFFF">
            <div class="table-responsive"></div>
            <h2 
            class="text-center"
            style="font-family:georgia;color:#f41818">
            Mars Facts</h2>
            {{ mars.facts | safe }}
          </div>
        </div>
      </div>

      <!-- Section for Mars Hemispheres -->
      <div class="row" id="mars-hemispheres">
        <div class="page-header">
          <h2 
          class="text-center"
          style="font-family:georgia;color:#f41818">Mars Hemispheres</h2>
        </div>

        {% for hemisphere in mars.hemispheres %}
        <div class="col-xs-6 col-md-6">
          <div class="thumbnail">
            <img 
              src="{{hemisphere.img_url | default('static/images/error.png', true)}}" 
              class="img-responsive"
              alt="Responsive image">
            <div class="caption" style="background-color:#000000;color:#FFFFFF">
              <h3 class="text-center">{{hemisphere.title}}</h3>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
